body{
    background-color: coral;
}

.TH{
    background-color: brown;
    width: 300px;
    height: 300px;
    float: left;
    
    
}
:root{
    --gradient: linear-gradient(45deg,
    #f10000,#fd076d,#a714bb,#7024fd, #1014f8
    );
}
.ElLogo{
    text-align: center;
    font-size: 90px;
    color: coral;

    margin: 0;
 }

h1{
   padding: 0.5em 1.5em;
   background-image: var(--gradient);
}

.Busqueda{
    background-color: gold;
    width: 1000px;
    height: 50px;
    float: left;
    text-align: center;
}
.Cuerpo{
    background-color: blue;
    width: 1000px;
    height: 500px;
    float: left;
    text-align: center;
}
.Pie{
    background-color: darkgreen;
    width: 1000px;
    height: 300px;
    float: left;
    text-align: center;
}
.contenedor{
    width: 1000px;
    height: 1500px;
    border:black 4px dashed;
    margin: 0px auto;
}

#Perfil1{
    background-color: rgb(100, 0, 0);
    color: #1014f8;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 333px;
    height: 150px;
    float: left;
    text-align: center;
}
#Perfil2{
    background-color: rgb(61, 214, 0);
    color: #3310f8;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 333px;
    height: 150px;
    float: left;
    text-align: center;
}
#Perfil3{
    background-color: rgb(233, 21, 21);
    color: #0039f3;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 333px;
    height: 150px;
    float: left;
    text-align: center;
}
