body{
    background-image: linear-gradient(135deg, #f10000,#fd076d,#a714bb,#7024fd, #1014f8);
}

.TH{
    background-color: brown;
    width: 300px;
    height: 300px;
    float: left;
    
    
}
:root{
    --gradient: linear-gradient(45deg,
    #f10000,#fd076d,#a714bb,#7024fd, #1014f8
    );
}
.ElLogo{
    text-align: center;
    font-size: 90px;
    color: coral;

    margin: 0;
 }

h1{
   padding: 0.5em 1.5em;
   background-image: var(--gradient);
}

.Busqueda{
    background-color: gold;
    width: 1000px;
    height: 50px;
    float: left;
    text-align: center;
}
.Cuerpo{
    background-color: blue;
    width: 1000px;
    height: 500px;
    float: left;
    text-align: center;
}
.Pie{
    background-color: darkgreen;
    width: 1000px;
    height: 300px;
    float: left;
    text-align: center;
}
.contenedor{
    width: 1000px;
    height: 1500px;
    border:black 4px dashed;
    margin: 0px auto;
}